*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --violet:#3C1642;
    --current:#086375;
    --yellow:#AFFC41;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--violet);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--current);
    border-radius: 3rem;
}
.element{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
}
h1{
    
    font-size: 5rem;
    text-align: center;
    color: var(--yellow);
    padding: 2rem;
}
h2{
    font-size: 3rem;
    text-align: center;
    color: var(--yellow);
    padding:1rem;
}
img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}
img:hover{
    transform: scale(1.2);
    cursor: grab;
    box-shadow: 5px 10px 50px rgb(250, 248, 248);
}
.choice,.score{
    display: flex;
    justify-content: space-between;
    width:100%;
    color: var(--yellow);
    padding: 1rem;
    font-size: 2rem;

}
.win{
    font-size: 2rem;
    width:80%;
    text-align: center;
    padding: 1rem;
    color: #EDFFAB;
}